<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <link rel="stylesheet"  type="text/css" href="styles/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style type="text/css">
       .header-space {
            margin-top: 2%;
       }

       .black-font {
            color: black;
       }
       .h-space {
            margin: 5px
       }

       .not-alive {
           opacity: 0.4;
       }

       .medium {
            font-size: medium;
        }

       .large {
            font-size: large;
        }

    </style>

    <title>Test Microservices</title>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><b>Collection of Microservices</b></a>
         <span class="navbar-brand"></span>
         <span class="navbar-brand">Active:</span>

         <% locals[:remote_services].each do |name, _url| %>
            <span id="<%= name %>-alive" class="h-space badge badge-<%= locals[:service_colors][name] %> medium"><%= name.capitalize %></span>
         <% end %>
    </nav>

    <div class="container header-space">
        <div class="row">
            <div class="col-sm">
                <%= yield locals %>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="scripts/jquery.js"><\/script>')</script>
        <script src="scripts/knockout.js"></script>
        <script src="scripts/app.js"></script>
</body>

</html>